In [5]:
#print table of n
n=input('enter n: ')
n_int=int(n)
for i in range(1,11):
    print(i,'X',n_int,'=',i*n_int)

enter n: 4
1 X 4 = 4
2 X 4 = 8
3 X 4 = 12
4 X 4 = 16
5 X 4 = 20
6 X 4 = 24
7 X 4 = 28
8 X 4 = 32
9 X 4 = 36
10 X 4 = 40

In [7]:

#print pattern of a
for i in range(1, 5):
        print(' ')
        for j in range(1, i):
            print('a', end=' ')

a
a a
a a a

In [11]:
 #printing patten of num
k = 1
for i in range(1, 5):
    print(' ')
    for j in range(1, i):
        print(k, end=' ')
        k = k + 1

1
2 3
4 5 6

In [17]:
for i in range(1,5):
    print('')
    for j in range(1,i+1):
        print(i,end='')
        i=i+1

1
23
345
4567

In [18]:
for i in range(5,1,-1):
    print('')
    for j in range(i,1,-1):
        print(i-1,end='')

4444
333
22
1

In [19]:
for i in range(1,6):
    print('')
    for j in range(i,6):
        print(i,end='')

11111
2222
333
44
5

In [20]:
for i in range(1,5):
    for j in range (1,i+1):
        print(j, end='')
    print('')

1
12
123
1234

In [21]:
for i in range(1,5):
    for j in range(i,0,-1):
        print(j,end='')
    print('')

1
21
321
4321